annotated-types==0.7.0
beautifulsoup4~=4.12.3
fastapi~=0.112.4
fastjsonschema==2.20.0
huggingface-hub==0.25.0
idna==3.10
joblib==1.4.2
llama-index==0.11.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
nltk==3.9.1
openai==1.46.1
overrides==7.7.0
packaging==24.1
pillow==10.4.0
pinecone-client==5.0.1
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.6.0
pymongo==4.8.0
requests~=2.32.3
websocket-client==1.8.0
websockets==12.0
python-dotenv~=1.0.1
